# Neon Database Connection
PGHOST=ep-falling-morning-a1qebgkb-pooler.ap-southeast-1.aws.neon.tech
PGDATABASE=neondb
PGUSER=neondb_owner
PGPASSWORD=npg_htjWr1Hdp7lT
PGSSLMODE=require
PGCHANNELBINDING=require

# Server Configuration
PORT=3000
NODE_ENV=development 